<!DOCTYPE html>
<html>
    <head>
    	<title>CodingBlocks - Online Judge</title>
    	<% include ./partials/head %>
        <script type="text/javascript">
        	$(document).ready(function() {
                $.get("/api/questions", function(data) {
                    console.log("data = " + JSON.stringify(data));
                    var questions = data.data;
                    var questionsDom = $("#question-group");
                    var toAppend = "";
                    for (var i = 0; i < questions.length; ++i) {
                        var question = questions[i];
                        toAppend += "<a href=\"/question/" + question._id + "/" + i+1 + "\"";
                        toAppend += " class=\"list-group-item\">Question " + (i+1) + ": " + question.title + "</a>";
                        console.log("toAppend = " + toAppend);
                    }
                    questionsDom.append(toAppend);
                }).fail(function() {
                    console.log("request failed");
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <% include ./partials/header %>
            <h1>Assignments</h1>
            <div class="list-group" id="question-group">
                <a href="#" class="list-group-item">Question 1: Hello</a>
                <a href="#" class="list-group-item">Question 2: static text</a>
            </div>
        </div>
    </body>
</html>